<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    <filter>
        <filter-name>noCacheFilter</filter-name>
        <filter-class>controller.NoCacheFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>noCacheFilter</filter-name>
        <url-pattern>/WEB-INF/view/*</url-pattern>                
    </filter-mapping>
    
    <!-- Servlet: LoginController-->
    
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>    
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    
    <!-- Servlet: RequestDispathcher -->
    <servlet>
        <servlet-name>RequestDispatcher</servlet-name>
        <servlet-class>controller.RequestDispatcher</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RequestDispatcher</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>RequestDispatcher</servlet-name>
        <url-pattern>/my-profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestDispatcher</servlet-name>
        <url-pattern>/change-password</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>GetUsersController</servlet-name>
        <servlet-class>controller.GetUsersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetUsersController</servlet-name>
        <url-pattern>/GetUsersController</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Home.jsp</welcome-file>
    </welcome-file-list>
    
    <!-- START: Footer -->
    <jsp-config>
        <jsp-property-group>
            <description>header and footer settings</description>
            
            <url-pattern>/WEB-INF/view/*</url-pattern>            
            <url-pattern>/Home.jsp</url-pattern>        
           
            <include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
        </jsp-property-group>
    </jsp-config>
    <!--END: Footer -->
   
</web-app>
